body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card, .result-card {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.or {
    margin: 20px 0;
}

.btn {
    background-color: #5c6bc0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3949ab;
}

h1 {
    color: #333;
    margin-top: 40px;
}

.img-container {
    width: 100%; /* Make sure the container takes the full width */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.img-container img {
    max-width: 100%; /* Ensure the image is responsive and doesn't overflow */
    height: auto; /* Maintain the aspect ratio */
}
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.p {
    font-weight: bold;
}